/* from https://adamlynch.com/flexible-data-tables-with-css-grid/ */

* {
  box-sizing: border-box;
}

.play-icon {
    height: 24px;
    margin: auto;
}

.table-mobile {
  display: grid;
  border-collapse: collapse;
  min-width: 350px;
  max-width: 800px;
  grid-template-columns: 
    minmax(45px, .5fr)
    minmax(200px, 4fr)
    minmax(100px, .5fr);
}

.table-big {
  display: grid;
  border-collapse: collapse;
  min-width: 350px;
  max-width: 800px;
  grid-template-columns: 
    minmax(45px, .5fr)
    minmax(200px, 4fr)
    minmax(400px, 1fr);
}

thead,
tbody,
tr {
  display: contents;
}

td {
  padding-left: 15px;
  padding-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #111011;
  display: flex;
}

th {
  position: sticky;
  padding: 15px;
  top: 0;
  background: #b82327AA;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

tr:nth-child(even) td {
  background: #5DCBF588;
}
