@media screen and (min-width: 1200px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
    }

    .composer_box {
        width: 200px;
        padding: auto;
    }

    .image {
        height: 200px;
        max-width: 100%;
    }

    .signature {
        height: 25px;
        max-width: 150px;
        margin: auto;
        /*-border: 3px solid green;*/
        /* top right bottom left */
        padding: 0px 0px 10px 10px;
    }
}


@media screen and (max-width: 1199px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        min-width:  300px;
        max-width: 600px;
    }

    .composer_box {
        min-width: 150px;
        max-width: 200px;
        padding: auto;
    }

    .image {
        height: 200px;
        max-width: 100%;
    }

    .signature {
        height: 25px;
        max-width: 150px;
        margin: auto;
        /*-border: 3px solid green;*/
        padding: 0px 0px 10px 10px;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }

    .composer_box {
        min-width: 100px;
        max-width: 200px;
        padding: auto;
    }

    .image {
        height: 150px;
        max-width: 100%;
    }

    .signature {
        height: 25px;
        max-width: 100%;
        margin: auto;
        /*-border: 3px solid green;*/
        padding: 0px 0px 10px 10px;
    }
}
