/* 
I pulled Marina's palette out of the svgs:
    > grep -o ".\{0,7\}fill\:.\{0,8\}" static/Haydn.svg | sort | uniq -c
   7 style="fill:#111011; (black)
  15 style="fill:#5dcbf5; (cyan)
  14 style="fill:#b82327; (red)
   2 style="fill:#f7f7f3; (white)


Can use coolors.co to generate a 5th color that fits into the palette:
> https://coolors.co/111011-5dcbf5-b82327-f7f7f3-51cb20
# these are nice greens: 51CB20, 6BAA75
*/

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    /* top right bottom left */
    /*padding: 10px 10px 10px 0px;*/
    /*background: #dddddd;*/
    /*width: fit-content;*/
}

.nav-link-item {
    /*padding-left: 2rem;*/
    padding-right: 2rem;
}

.nav-link-text {
    color: #b82327;
    white-space: nowrap;
}

.button {
    /* https://stackoverflow.com/questions/11078509/ */
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em  1em  1em  1em; /*top right bottom left*/
    margin: -1em -1em -1em -1em;
}

a {
    color:#5dcbf5;
}


@media screen and (min-width: 1200px) {
    .container {
      margin: auto;
      margin-left: 10%;
      max-width: 800px;
      font-family: -apple-system, Roboto, sans-serif, serif;
      color: #232129;
      padding: 96;
    }

    .site-title {
      font-size: 3rem;
      color:#5dcbf5;
      font-weight: 700;
      text-decoration: none;
    }

    .site-icon {
        height: 35px;
    }
}


@media screen and (max-width: 1199px) {
    .container {
      margin: auto;
      margin-left: 10px;
      max-width: 600px;
      font-family: -apple-system, Roboto, sans-serif, serif;
      color: #232129;
      padding: 96;
    }

    .site-title {
      font-size: 2rem;
      color:#5dcbf5;
      font-weight: 700;
      margin: auto;
      text-decoration: none;
    }

    .site-icon {
        height: 25px;
    }
}

@media screen and (max-width: 600px) {
    .container {
      margin: auto;
      margin-left: 10px;
      max-width: 100%;
      font-family: -apple-system, Roboto, sans-serif, serif;
      color: #232129;
      padding: 5;
    }

    .site-title {
      font-size: 2rem;
      color:#5dcbf5;
      font-weight: 700;
      margin: auto;
      text-decoration: none;
    }

    .site-icon {
        height: 25px;
    }
}
